.App {
  padding: 10px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shirts {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}
.shirts img,
.preview {
  margin: 5px 0px;
  border-radius: 5px;
}

#active {
  border: 2px solid indigo;
  border-radius: 5px;
}

.container {
  display: flex;
  justify-content: space-evenly;
}

.left-container,
.right-container {
  display: flex;
  width: 50%;
}

.right-container {
  flex-direction: column;
}

.polo {
  text-decoration: none;
}

.btn {
  padding: 10px;
  background-color: teal;
  color: white;
  font-size: large;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  outline: 2px solid gray;
}

@media (max-width: 767px) {
  .left-container,
  .right-container {
    width: 100%;
    justify-content: center;
  }
  .container {
    flex-direction: column;
    gap: 20px;
  }
}
